@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth transition for colors */
html,
body {
  transition: background-color 0.25s ease, color 0.25s ease;
}
@media print {
  body * {
    visibility: hidden;
  }

  .receipt,
  .receipt * {
    visibility: visible;
  }

  /* Hide buttons inside receipt */
  .receipt button {
    display: none !important;
  }

  .receipt {
    position: absolute;
    left: 0;
    top: 0;
    width: 80mm;
    padding: 10px;
    font-size: 12px;
  }
}
