@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth transition for colors */
html,
body {
  transition: background-color 0.25s ease, color 0.25s ease;
}
@media print {
  body * {
    visibility: hidden;
  }

  .print-area,
  .print-area * {
    visibility: visible;
  }

  .print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  button {
    display: none !important;
  }
}
